/* google font
font-family: 'IBM Plex Sans KR', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Image replacement */
.ir_so {
    /* ir_screen out 약자로 임의 사용 */
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

/* loading page */
.loadBox {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background: rgba(0,0,0,0.8);
}
.loader {
	z-index: 1;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	border: 16px dashed #f3f3f3;
	border-top: 16px dashed #3498db;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0%{
		transform: translate(-50%,-50%) rotate(0deg);
	}
	100%{
		transform: translate(-50%,-50%) rotate(360deg);
	}
}


/* layout */
#wrap {}
section {
	width: 100%;
	height: 100vh;
	background: #222;
	color: #fff;
}

/* container */
.container {
	width: 80%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	color: #fff;
}

/* HEADER */
header{

}

/* MAIN */
main {}
main section {}
/* MAIN intro */
main .intro-box {
	display: flex;
	justify-content: center;
	background: url(/img/mountains-5559099.png) no-repeat;
	background-position: right;
	background-size: cover;
	background-attachment: fixed;
}
main .intro-box {
	position: relative;
	top: 0;
	left: 0;
}
main .intro-box .container{
	display: flex;
	align-items: center;
	text-align: left;
}
main .intro-box .intro-textbox{
	width: 100%;
}
main .intro-box .intro-textbox .intro-name{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2rem;
	font-weight: 600;
	margin-bottom: 2rem;
}
main .intro-box .intro-textbox .intro-desc{
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	width: 100%;
}
main .intro-box .intro-textbox .intro-tit {
	width: 100%;
}
main .intro-box .intro-textbox .intro-tit img{
	width: 100%;
}

main .intro-box .intro-textbox p:not(:last-child){
	// margin-left: 3rem;
	line-height: 2.4rem;
}

/* MAIN intro star */
.star {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 4px;
	height: 4px;
	background: #FFECBC;
	border-radius: 50%;
	box-shadow: 0 0 0 4px rgba(255,255,255,0.1),
	0 0 0 8px rgba(255,255,255,0),
	0 0 20px rgba(255,255,255,.6);
	animation: animate 3s linear infinite;
}
.star::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 300px;
	height: 1px;
	background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
	0% {
		transform: rotate(315deg) translateX(0);
	}
	70% {
		opacity: 1;
	}
	100% {
		transform: rotate(315deg) translateX(-1000px);
		opacity: 0;
	}
}
.star:nth-child(1) {
	top: 0;
	right: 0;
	animation-delay: 0;
	animation-duration: 1s;
}
.star:nth-child(2) {
	top: 0;
	right: 80px;
	left: initial;
	animation-delay: 0.2s;
	animation-duration: 3s;
}
.star:nth-child(3) {
	top: 80px;
	right: 0px;
	left: initial;
	animation-delay: 0.4s;
	animation-duration: 2s;
}
.star:nth-child(4) {
	top: 0px;
	right: 180px;
	left: initial;
	animation-delay: 0.6s;
	animation-duration: 1.5s;
}
.star:nth-child(5) {
	top: 0px;
	right: 400px;
	left: initial;
	animation-delay: 0.8s;
	animation-duration: 2.5s;
}
.star:nth-child(6) {
	top: 0px;
	right: 600px;
	left: initial;
	animation-delay: 1s;
	animation-duration: 3s;
}
.star:nth-child(7) {
	top: 300px;
	right: 0px;
	left: initial;
	animation-delay: 1.2s;
	animation-duration: 1.75s;
}
.star:nth-child(8) {
	top: 0px;
	right: 700px;
	left: initial;
	animation-delay: 1.4s;
	animation-duration: 1.25s;
}
.star:nth-child(9) {
	top: 0px;
	right: 1000px;
	left: initial;
	animation-delay: 0.7s;
	animation-duration: 2.25s;
}
.star:nth-child(10) {
	top: 0px;
	right: 450px;
	left: initial;
	animation-delay: 2.75s;
	animation-duration: 2.25s;
}



/* MAIN about */
main .about {
	height: auto;
}
/* about title */
main .about .about-tit{
	display: flex;
	justify-content: center;
	width: 100%;
	background: #1E1632;
}
main .about .about-tit .container {
	display: flex;
	align-items: center;
	padding: 3rem 0;
}
main .about .about-tit .container a {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
main .about .about-tit .container a .caption {
	width: 140px;
	padding: 10px;
	border-radius: 8px;
	background: #fff;
	position: absolute;
	top: 0px;
	opacity: 0;
	transition: all .6s ease-in-out;
	font-size: 1rem;
	color: black;
	text-decoration: none;
	text-align: center;
	font-weight: 500;
	font-family: 'IBM Plex Sans KR', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
}
main .about .about-tit .container a .caption::before {
	content: '';
	position: absolute;
	bottom: -20%;
	transform: rotate(-45deg);
	border-top: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #fff;
	border-left: 12px solid #fff;
	border-radius: 4px;
}
main .about .about-tit .container a:hover .caption {
	top: -50px;
	opacity: 1;
}
main .about .about-tit .container img{
	width: 200px;
	border-radius: 50%;
	margin: 0 3rem;
	position: relative;
	border: 8px solid transparent;
	transition: all .4s ease-in-out;
}
main .about .about-tit .container img:hover {
	border: 8px solid #ffecbc;
}

main .about .about-tit .container .about-desc {
	// width: 60%;
}
main .about .about-tit .container .about-desc h4{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 50px;
}
main .about .about-tit .container .about-desc h4 span{
	color: #FFECBC;
}
main .about .about-tit .container .about-desc p{
	font-family: 'IBM Plex Sans KR', sans-serif;
	line-height: 30px;
	font-size: 1rem;
}
/* about profile */
main .about .about-profile {
	display: flex;
	justify-content: center;
	width: 100%;
	background: #404972;
}

main .about .about-profile .container {
	padding: 3rem 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
main .about .about-profile .container .profile-box{
	display: flex;
}
main .about .about-profile .container .profile-box:not(:last-child){
	margin-right: 8px;
}
main .about .about-profile .container .profile-box h4{
	font-size: 2.4rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-right: 30px;
	color: #FFECBC;
}
main .about .about-profile .container .profile-box span{
	font-size: 1.2rem;
	font-family: 'IBM Plex Sans KR', sans-serif;
	line-height: 28px;
}

/* about personality */
main .about .about-personality {
	width: 100%;
	// height: 100vh;
	height: auto;
	display: flex;
	justify-content: center;
	background: #6d74a1;
}
main .about .about-personality .container{
	padding: 40px 0;
}
main .about .about-personality .container .personality-icons{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}
main .about .about-personality .container .personality-icons .personality-icon{
	width: 25%;
	font-family: 'IBM Plex Sans KR', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
main .about .about-personality .container .personality-icons .personality-icon img{
	width: 60%;
}
main .about .about-personality .container .personality-icons .personality-icon h4 {
	color: #FFECBC;
	font-size: 1.4rem;
	font-weight: 600;
	margin-bottom: 15px;
	text-align: center;
}
main .about .about-personality .container .personality-icons .personality-icon p {
	font-size: 1rem;
	line-height: 24px;
	text-align: center;
	padding: 0 30px;
}

/* about skills */
main .about .about-skills {
	display: flex;
	justify-content: center;
	background: #6d74a1;
	// height: 50vh;
}
main .about .about-skills .container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
main .about .about-skills .container .skills-box {
	width: 18%;
	border: 1px solid #ccc;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem 1rem;
	padding: 2rem 1rem;
	position: relative;
	// transition: box-shadow .2s;
}
main .about .about-skills .container .skills-box:hover {
	box-shadow: 0px 0px 8px 0px;
}
main .about .about-skills .container .skills-box img {
	width: 40%;
	margin-bottom: 1rem;
}
main .about .about-skills .container .skills-box .rate-box {
	font-size: 1.2rem;
	font-weight: 600;
}
main .about .about-skills .container .skills-box .rate-box .rate {}
main .about .about-skills .container .skills-box .rate-box .percent {}

main .about .about-skills .container .skills-box .caption {
	width: 140px;
	padding: 10px;
	border-radius: 8px;
	background: #fff;
	position: absolute;
	top: 0px;
	opacity: 0;
	transition: all .6s ease-in-out;
	font-size: 1rem;
	color: black;
	text-decoration: none;
	text-align: center;
	font-weight: 500;
	font-family: 'IBM Plex Sans KR', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
}
main .about .about-skills .container .skills-box .caption::before {
	content: '';
	position: absolute;
	bottom: -20%;
	transform: rotate(-45deg);
	border-top: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #fff;
	border-left: 12px solid #fff;
	border-radius: 4px;
}
main .about .about-skills .container .skills-box:hover .caption {
	top: -24px;
	opacity: 1;
}

/* MAIN work */
main .work {
	background: #fff;
	display: flex;
	justify-content: center;
}
main .work .container {}

footer {
}


/* 0 - 1220px */
@media (max-width: 1220px){
	.container {
		width: 100%;
	}
}
/* 0 - 768px */
@media (max-width: 800px){
	main .about .about-profile .container {
		flex-direction: column;
		align-items: center;
	}
	main .about .about-profile .container .profile-box {
		width: 400px;
	}
	main .about .about-profile .container .profile-box:not(:last-child) {
		margin-bottom: 30px;
	}
	
	main .about .about-personality .container .personality-icons .personality-icon {
		width: 50%;
	}


	main .about .about-skills .container .skills-box {
		width: 30%;
	}
}