/* google font
font-family: 'IBM Plex Sans KR', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* layout */
#wrap {}
section {
	width: 100%;
	height: 100vh;
	background: #222;
}

/* container */
.container {
	width: 80%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	color: #fff;
}

/* HEADER */
header{

}

/* MAIN */
main {}
main section {}
/* intro */
main .intro-box {
	display: flex;
	justify-content: center;
	background: url(/img/mountains-5559099.png) no-repeat;
	background-position: right;
	background-size: cover;
	background-attachment: fixed;
}
main .intro-box {
	position: relative;
	top: 0;
	left: 0;
}
main .intro-box .container{
	display: flex;
	align-items: center;
	text-align: left;
}
main .intro-box .intro-textbox{
	width: 100%;
}
main .intro-box .intro-textbox .intro-name{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2rem;
	font-weight: 600;
}
main .intro-box .intro-textbox .intro-desc{
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	width: 100%;
}
main .intro-box .intro-textbox .intro-tit {
	width: 100%;
}
main .intro-box .intro-textbox .intro-tit img{
	width: 100%;
}

main .intro-box .intro-textbox p:not(:last-child){
	margin-left: 3rem;
	line-height: 2.4rem;
}

/* intro star */
.star {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 4px;
	height: 4px;
	background: #FFECBC;
	border-radius: 50%;
	box-shadow: 0 0 0 4px rgba(255,255,255,0.1),
	0 0 0 8px rgba(255,255,255,0),
	0 0 20px rgba(255,255,255,.6);
	animation: animate 3s linear infinite;
}
.star::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 300px;
	height: 1px;
	background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
	0% {
		transform: rotate(315deg) translateX(0);
	}
	70% {
		opacity: 1;
	}
	100% {
		transform: rotate(315deg) translateX(-1000px);
		opacity: 0;
	}
}
.star:nth-child(1) {
	top: 0;
	right: 0;
	animation-delay: 0;
	animation-duration: 1s;
}
.star:nth-child(2) {
	top: 0;
	right: 80px;
	left: initial;
	animation-delay: 0.2s;
	animation-duration: 3s;
}
.star:nth-child(3) {
	top: 80px;
	right: 0px;
	left: initial;
	animation-delay: 0.4s;
	animation-duration: 2s;
}
.star:nth-child(4) {
	top: 0px;
	right: 180px;
	left: initial;
	animation-delay: 0.6s;
	animation-duration: 1.5s;
}
.star:nth-child(5) {
	top: 0px;
	right: 400px;
	left: initial;
	animation-delay: 0.8s;
	animation-duration: 2.5s;
}
.star:nth-child(6) {
	top: 0px;
	right: 600px;
	left: initial;
	animation-delay: 1s;
	animation-duration: 3s;
}
.star:nth-child(7) {
	top: 300px;
	right: 0px;
	left: initial;
	animation-delay: 1.2s;
	animation-duration: 1.75s;
}
.star:nth-child(8) {
	top: 0px;
	right: 700px;
	left: initial;
	animation-delay: 1.4s;
	animation-duration: 1.25s;
}
.star:nth-child(9) {
	top: 0px;
	right: 1000px;
	left: initial;
	animation-delay: 0.7s;
	animation-duration: 2.25s;
}
.star:nth-child(10) {
	top: 0px;
	right: 450px;
	left: initial;
	animation-delay: 2.75s;
	animation-duration: 2.25s;
}



/* about */
main .about {
}
/* about title */
main .about .about-tit{
	display: flex;
	justify-content: center;
	width: 100%;
	background: #1E1632;
}
main .about .about-tit .container {
	display: flex;
	align-items: center;
	padding: 3rem 0;
}
main .about .about-tit .container img{
	width: 200px;
	border-radius: 50%;
	margin: 0 3rem;
	position: relative;
	border: 8px solid #FFECBC;
}

main .about .about-tit .container .about-desc {
	// width: 60%;
}
main .about .about-tit .container .about-desc h4{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 50px;
}
main .about .about-tit .container .about-desc h4 span{
	color: #FFECBC;
}
main .about .about-tit .container .about-desc p{
	line-height: 30px;
	font-size: 1rem;
}
/* about profile */
main .about .about-profile {
	display: flex;
	justify-content: center;
	width: 100%;
	background: #4E5689;
}

main .about .about-profile .container {
	padding: 3rem 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
main .about .about-profile .container .profile-box{
	display: flex;
}
main .about .about-profile .container .profile-box:not(:last-child){
	margin-right: 8px;
}
main .about .about-profile .container .profile-box h4{
	font-size: 2.4rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-right: 30px;
	color: #FFECBC;
}
main .about .about-profile .container .profile-box span{
	font-size: 1.2rem;
	font-family: 'IBM Plex Sans KR', sans-serif;
	line-height: 28px;
}






/* 0 - 1220px */
@media (max-width: 1220px){
	.container {
		width: 100%;
	}
}
/* 0 - 768px */
@media (max-width: 800px){
	main .about .about-profile .container {
		flex-direction: column;
		align-items: center;
	}
	main .about .about-profile .container .profile-box {
		width: 400px;
	}
	main .about .about-profile .container .profile-box:not(:last-child) {
		margin-bottom: 30px;
	}
}