/* google font
font-family: 'IBM Plex Sans KR', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* layout */
#wrap {}
section {
	width: 100%;
	height: 100vh;
	background: #222;
}

/* container */
.container {
	width: 80%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	color: #fff;
}

/* header */
header{

}

/* main */
main {}
main section {}
/* main INTRO */
main .intro-box {
	display: flex;
	justify-content: center;
	background: url(/img/mountains-5559099.png) no-repeat;
	background-position: right;
	background-size: cover;
	background-attachment: fixed;
}
main .intro-box .container{
	display: flex;
	align-items: center;
	text-align: left;
}
main .intro-box .intro-textbox{
	width: 100%;
}
main .intro-box .intro-textbox .intro-name{
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	font-weight: 600;
}
main .intro-box .intro-textbox .intro-desc{
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-size: .9rem;
	font-weight: 300;
	width: 100%;
}
main .intro-box .intro-textbox .intro-tit {
	width: 100%;
}
main .intro-box .intro-textbox .intro-tit img{
	width: 100%;
}

main p:not(:last-child) {
	padding: 1rem 0;
	line-height: 1.4rem;
}
main p:not(:last-child) {
	margin: 0 3rem;
}
/* main ABOUT */
main .about {
}
main .about .about-tit{
	display: flex;
	justify-content: center;
	width: 100%;
	background: #1E1632;
}
main .about .about-tit .container {
	display: flex;
	align-items: center;
	padding: 3rem 0;
}
main .about .about-tit .container img{
	width: 200px;
	border-radius: 50%;
	margin: 0 3rem;
}
main .about .about-tit .container .about-desc {}
main .about .about-tit .container .about-desc h4{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 50px;
}
main .about .about-tit .container .about-desc h4 span{
	color: #FFECBC;
}
main .about .about-tit .container .about-desc h4 p{
	font-family: 'IBM Plex Sans KR', sans-serif;
}









/* 0 - 1220px */
@media (max-width: 1220px){
	.container {
		width: 100%;
	}
}