/*
font-family: 'IBM Plex Sans KR', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wrap {
  width: 100vw;
  height: 100vh;
  background: url(../img/login-bg.jpeg) no-repeat bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.login-form h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}

.login-form form {
  width: 100%;
}

.login-form form .input-area {
  width: 400px;
  position: relative;
}

.login-form form .input-area:not(:first-child) {
  margin-top: 20px;
}

.login-form form .input-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  color: #fff;
  outline: none;
}

.login-form form .input-area label {
  position: absolute;
  left: 10px;
  top: 20px;
  font-size: 18px;
  color: #999;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.login-form form .input-area :focus + label,
.login-form form .input-area :valid + label {
  top: -2px;
  font-size: 13px;
  color: #80d6ff;
}

.login-form form .input-area label.warning {
  color: #ff5a4b;
  -webkit-animation: warning .3s ease;
          animation: warning .3s ease;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

@-webkit-keyframes warning {
  0% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  25% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  75% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}

@keyframes warning {
  0% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  25% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  75% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}

.login-form form .btn-area {
  margin-top: 30px;
}

.login-form form .btn-area:last-child {
  margin-top: 20px;
}

.login-form form .btn-area button,
.login-form form .btn-area a {
  width: 100%;
  height: 50px;
  background: #0077c2;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.login-form form .btn-area button:hover,
.login-form form .btn-area a:hover {
  background: #80d6ff;
}

.login-form form .btn-area a {
  display: block;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}

.login-form .caption {
  margin-top: 20px;
  text-align: center;
}

.login-form .caption a {
  text-decoration: none;
  font-size: 15px;
  color: #999;
  -webkit-transition: color .6s ease;
  transition: color .6s ease;
}

.login-form .caption a:hover {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */